<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/style/common.css">
    <link rel="stylesheet" type="text/css" href="/style/bookshelf.css">
</head>
<body>
<%- include('./partial/header') %>
<div class="main">
    <div class="main-bookshelf">
        <%- include('./partial/userside') %>
        <div class="container recent-read">
            <h1>最近阅读</h1>
            <div class="item">
                <div class="book-img">
                    <img src="/img/62753l.jpg" alt="">
                </div>
                <div class="book-info">
                    <h2>小谎言<a class="btn-del">删除</a></h2>
                    <h3>莉安·莫利亚提</h3>
                    <p><span class="label red-bg">最新</span><a href="">第120章 校园益智问答夜活动三个月之前</a></p>
                    <p><a class="continue-read" href="">继续阅读>></a></p>
                </div>
            </div>
            <div class="item">
                <div class="book-img">
                    <img src="/img/62753l.jpg" alt="">
                </div>
                <div class="book-info">
                    <h2>小谎言<a class="btn-del">删除</a></h2>
                    <h3>莉安·莫利亚提</h3>
                    <p><span class="label red-bg">最新</span><a href="">第120章 校园益智问答夜活动三个月之前</a></p>
                    <p><a class="continue-read" href="">继续阅读>></a></p>
                </div>
            </div>
            <div class="item">
                <div class="book-img">
                    <img src="/img/62753l.jpg" alt="">
                </div>
                <div class="book-info">
                    <h2>小谎言<a class="btn-del">删除</a></h2>
                    <h3>莉安·莫利亚提</h3>
                    <p><span class="label red-bg">最新</span><a href="">第120章 校园益智问答夜活动三个月之前</a></p>
                    <p><a class="continue-read" href="">继续阅读>></a></p>
                </div>
            </div>
            <div class="item">
                <div class="book-img">
                    <img src="/img/62753l.jpg" alt="">
                </div>
                <div class="book-info">
                    <h2>小谎言<a class="btn-del">删除</a></h2>
                    <h3>莉安·莫利亚提</h3>
                    <p><span class="label red-bg">最新</span><a href="">第120章 校园益智问答夜活动三个月之前</a></p>
                    <p><a class="continue-read" href="">继续阅读>></a></p>
                </div>
            </div>
            <div class="item">
                <div class="book-img">
                    <img src="/img/62753l.jpg" alt="">
                </div>
                <div class="book-info">
                    <h2>小谎言<a class="btn-del">删除</a></h2>
                    <h3>莉安·莫利亚提</h3>
                    <p><span class="label red-bg">最新</span><a href="">第120章 校园益智问答夜活动三个月之前</a></p>
                    <p><a class="continue-read" href="">继续阅读>></a></p>
                </div>
            </div>
            <div class="item">
                <div class="book-img">
                    <img src="/img/62753l.jpg" alt="">
                </div>
                <div class="book-info">
                    <h2>小谎言<a class="btn-del">删除</a></h2>
                    <h3>莉安·莫利亚提</h3>
                    <p><span class="label red-bg">最新</span><a href="">第120章 校园益智问答夜活动三个月之前</a></p>
                    <p><a class="continue-read" href="">继续阅读>></a></p>
                </div>
            </div>
            <div class="item">
                <div class="book-img">
                    <img src="/img/62753l.jpg" alt="">
                </div>
                <div class="book-info">
                    <h2>小谎言<a class="btn-del">删除</a></h2>
                    <h3>莉安·莫利亚提</h3>
                    <p><span class="label red-bg">最新</span><a href="">第120章 校园益智问答夜活动三个月之前</a></p>
                    <p><a class="continue-read" href="">继续阅读>></a></p>
                </div>
            </div>
            <div class="item">
                <div class="book-img">
                    <img src="/img/62753l.jpg" alt="">
                </div>
                <div class="book-info">
                    <h2>小谎言<a class="btn-del">删除</a></h2>
                    <h3>莉安·莫利亚提</h3>
                    <p><span class="label red-bg">最新</span><a href="">第120章 校园益智问答夜活动三个月之前</a></p>
                    <p><a class="continue-read" href="">继续阅读>></a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--footer-->
<%- include('./partial/footer') %>

<!--common script-->
<%- include('./partial/common_script') %>

<!--else script-->
</body>
</html>