<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%=title%></title>
    <link rel="stylesheet" type="text/css" href="/style/common.css">
    <link rel="stylesheet" type="text/css" href="/style/pay.css">
</head>
<body>
<%- include('./partial/header') %>
<div class="main">
    <%- include('./partial/userside') %>
    <div class="container pay-center">
        <h1>充值中心</h1>
        <h2>支付方式</h2>
        <div class="way">

            <% for(item in payInfo.pay_account){%>
            <label><input type="radio" name="way" pay_type="<%=payInfo.pay_account[item].pay_type%>" pay_type_id="<%=payInfo.pay_account[item].pay_type_id%>" pay_type_uuid="<%=payInfo.pay_account[item].pay_type_uuid%>" pay_url="<%=payInfo.pay_account[item].pay_url%>">  <%=payInfo.pay_account[item].pay_name%></label>
            <% }; %>

            <!--<label><input type="radio" name="way"> 微信支付</label>-->
            <!--<label><input type="radio" name="way"> 支付宝支付</label>-->
        </div>
        <h2>支付金额</h2>
        <div class="money">

            <% for(item in payInfo.pay_counts){%>
            <label><input type="radio" name="money"> <%=payInfo.pay_counts[item].pay_money%>元（ <%=payInfo.pay_counts[item].user_coin%>阅币）</label>
            <% }; %>

            <!--<label><input type="radio" name="money"> 30元（3000阅币）</label>-->
            <!--<label><input type="radio" name="money"> 50元（5000阅币）</label>-->
            <!--<label><input type="radio" name="money"> 100元（10000阅币）</label>-->
            <!--<label><input type="radio" name="money"> 200元（20000阅币）</label>-->
            <!--<label><input type="radio" name="money"> 500元（50000阅币）</label>-->
            <!--<label><input type="radio" name="money"> 1000元（100000阅币）</label>-->
        </div>
        <div class="btn">
            <a id="confirm_pay" href="javascript:void(0)">确认支付</a>
        </div>
        <p class="tip">充值遇到问题时，请联系客服。客服热线：010-58773126 客服QQ：1828314267</p>
    </div>
</div>

<!--footer-->
<%- include('./partial/footer') %>

<!--common script-->
<%- include('./partial/common_script') %>

<!--else script-->
<script src="/js/pay.js"></script>
</body>
</html>

